body {
    width: 100%;
    overflow-x: hidden;
    background: rgb(38, 32, 82);
    background: radial-gradient(circle, rgba(38, 32, 82, 1) 0%, rgba(8, 6, 27, 1) 100%);
    background-attachment: fixed;
    font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic';
}

#particles-js {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -100;
}

.top-page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.top-page > svg {
    width: 50%;
    opacity: .8;
}

#logo > .cls-1 {
    fill: transparent;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 6px;
}

#logo > .cls-2 {
    fill: transparent;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 6px;
}

#logo > .cls-3 {
    fill: transparent;
}

#logo > .cls-4 {
    fill: transparent;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 6px;
}

#logo path:nth-child(1) {
    stroke-dasharray: 312;
    stroke-dashoffset: 312;
    animation: svg-anime .3s ease 1.6s forwards, svg-anime3 .3s 3s forwards;
}

#logo path:nth-child(2) {
    stroke-dasharray: 637;
    stroke-dashoffset: 637;
    animation: svg-anime .3s ease 1.6s forwards, svg-anime2 .3s 2s forwards;
}

#logo path:nth-child(3) {
    stroke-dasharray: 509;
    stroke-dashoffset: 509;
    animation: svg-anime .3s ease 1.6s forwards, svg-anime2 .3s 2.05s forwards;
}

#logo path:nth-child(4) {
    stroke-dasharray: 352;
    stroke-dashoffset: 352;
    animation: svg-anime .3s ease 1.6s forwards, svg-anime2 .3s 2.1s forwards;
}

#logo path:nth-child(5) {
    stroke-dasharray: 463;
    stroke-dashoffset: 463;
    animation: svg-anime .3s ease 1.6s forwards, svg-anime2 .3s 2.15s forwards;
}

#logo path:nth-child(6) {
    stroke-dasharray: 530;
    stroke-dashoffset: 530;
    animation: svg-anime .3s ease 1.6s forwards, svg-anime2 .3s 2.2s forwards;
}

#logo path:nth-child(7) {
    stroke-dasharray: 509;
    stroke-dashoffset: 509;
    animation: svg-anime .3s ease 1.6s forwards, svg-anime2 .3s 2.25s forwards;
}

#logo path:nth-child(8) {
    stroke-dasharray: 409;
    stroke-dashoffset: 409;
    animation: svg-anime .3s ease 1.6s forwards, svg-anime2 .3s 2.3s forwards;
}

#logo path:nth-child(9) {
    stroke-dasharray: 354;
    stroke-dashoffset: 354;
    animation: svg-anime .3s ease 1.6s forwards, svg-anime2 .3s 2.35s forwards;
}

#logo path:nth-child(10) {
    animation: svg-anime2 .3s 2.5s forwards;
}

#logo path:nth-child(11) {
    stroke-dasharray: 265;
    stroke-dashoffset: 265;
    animation: svg-anime .3s ease 1.6s forwards, svg-anime2 .3s 2.15s forwards;
}

#logo path:nth-child(12) {
    stroke-dasharray: 407;
    stroke-dashoffset: 407;
    animation: svg-anime .3s ease 1.6s forwards, svg-anime2 .3s 2.25s forwards;
}

#logo path:nth-child(13) {
    stroke-dasharray: 312;
    stroke-dashoffset: 312;
    animation: svg-anime .3s ease 1.6s forwards, svg-anime2 .3s 2.3s forwards;
}

#logo path:nth-child(14) {
    stroke-dasharray: 474;
    stroke-dashoffset: 474;
    animation: svg-anime .3s ease 1.6s forwards, svg-anime2 .3s 2.35s forwards;
}

@keyframes svg-anime {
    100% {
        stroke-dashoffset: 0px;
    }
}

@keyframes svg-anime2 {
    100% {
        fill: white;
    }
}

@keyframes svg-anime3 {
    100% {
        fill: rgb(255, 248, 86);
        stroke: rgb(255, 248, 86);
    }
}

.line {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100vmax;
    width: 10px;
    background: white;
    transform-origin: bottom;
}

.line:nth-child(1) {
    transform: translate(-50%, -200%);
    animation: line_in1 .8s 0s forwards;
}

.line:nth-child(2) {
    top: 0;
    left: 100%;
    transform: translate(-50%, -100%) rotate(72deg);
    animation: line_in2 .8s 0s forwards;
}

.line:nth-child(3) {
    top: 200%;
    left: 100%;
    transform: translate(-50%, -100%) rotate(144deg);
    animation: line_in3 .8s 0s forwards;
}

.line:nth-child(4) {
    top: 200%;
    left: 0%;
    transform: translate(-50%, -100%) rotate(216deg);
    animation: line_in4 .8s 0s forwards;
}

.line:nth-child(5) {
    top: 0%;
    left: 0%;
    transform: translate(-50%, -100%) rotate(288deg);
    animation: line_in5 .8s 0s forwards;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    width: 100vmin;
    height: 100vmin;
    border: solid white 5vmin;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    animation: circle 1.6s forwards;
}

.star {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vmin;
    height: 30vmin;
    background: white;
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%);
    animation: star .4s ease 1s forwards;
}

.rect {
    width: 7vmin;
    height: 7vmin;
    background: white;
    opacity: 0;
}

.rect1 {
    position: absolute;
    top: 10vh;
    left: 10vw;
}

.rect2 {
    position: absolute;
    bottom: 10vh;
    right: 10vw;
}

.rect3 {
    position: absolute;
    top: 10vh;
    right: 10vw;
}

.rect4 {
    position: absolute;
    bottom: 10vh;
    left: 10vw;
}

.rect1:nth-child(1) {
    animation: fade_in .2s 1.8s forwards;
}

.rect1:nth-child(2) {
    transform: translateX(150%);
    animation: fade_in_out .2s 1.7s forwards;
}

.rect1:nth-child(3) {
    transform: translateX(300%);
    animation: fade_in_out .2s 1.6s forwards;
}

.rect2:nth-child(1) {
    animation: fade_in .2s 1.8s forwards;
}

.rect2:nth-child(2) {
    transform: translateX(-150%);
    animation: fade_in_out .2s 1.7s forwards;
}

.rect2:nth-child(3) {
    transform: translateX(-300%);
    animation: fade_in_out .2s 1.6s forwards;
}

.rect3:nth-child(1) {
    animation: fade_in .2s 1.8s forwards;
}

.rect3:nth-child(2) {
    transform: translateY(150%);
    animation: fade_in_out .2s 1.7s forwards;
}

.rect3:nth-child(3) {
    transform: translateY(300%);
    animation: fade_in_out .2s 1.6s forwards;
}

.rect4:nth-child(1) {
    animation: fade_in .2s 1.8s forwards;
}

.rect4:nth-child(2) {
    transform: translateY(-150%);
    animation: fade_in_out .2s 1.7s forwards;
}

.rect4:nth-child(3) {
    transform: translateY(-300%);
    animation: fade_in_out .2s 1.6s forwards;
}


.line2_1 {
    position: absolute;
    top: calc(10vh + 3.5vmin);
    left: calc(15vw + 7vmin);
    background: white;
    width: calc(70vw - 14vmin);
    height: 2px;
    transform: translateX(-20vw);
    opacity: 0;
    animation: fade_in_line2 .2s 1.6s forwards;
}

.line2_2 {
    position: absolute;
    top: 20vh;
    left: calc(10vw + 3.5vmin);
    background: white;
    width: 2px;
    height: 60vh;
    transform: translateY(20vh);
    opacity: 0;
    animation: fade_in_line2 .2s 1.8s forwards;
}

.line2_3 {
    position: absolute;
    top: 20vh;
    right: calc(10vw + 3.5vmin);
    background: white;
    width: 2px;
    height: 60vh;
    transform: translateY(-20vh);
    opacity: 0;
    animation: fade_in_line2 .2s 1.8s forwards;
}

.line2_4 {
    position: absolute;
    bottom: calc(10vh + 3.5vmin);
    left: calc(15vw + 7vmin);
    background: white;
    width: calc(70vw - 14vmin);
    height: 2px;
    transform: translateX(20vw);
    opacity: 0;
    animation: fade_in_line2 .2s 1.6s forwards;
}

@keyframes line_in1 {
    100% {
        transform: translate(-50%, -100%) scaleX(0);
    }
}

@keyframes line_in2 {
    100% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%) rotate(72deg) scaleX(0);
    }
}

@keyframes line_in3 {
    100% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%) rotate(144deg) scaleX(0);
    }
}

@keyframes line_in4 {
    100% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%) rotate(216deg) scaleX(0);
    }
}

@keyframes line_in5 {
    100% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%) rotate(288deg) scaleX(0);
    }
}

@keyframes circle {
    50% {
        transform: translate(-50%, -50%) scale(.3);
        border-width: 0;
        opacity: 1;
    }

    55% {
        transform: translate(-50%, -50%) scale(.3);
        border-width: 0;
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        border-width: 2px;
        opacity: 0;
    }
}

@keyframes star {
    100% {
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        transform: translate(-50%, -50%) rotate(180deg);
        opacity: 0;
    }
}

@keyframes fade_in_out {
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade_in {
    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    }
}

@keyframes fade_in_line2 {
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}


.about,
.works {
    margin: 10% calc(10vw + 3.5vmin);
}

.about > h2,
.works > h2 {
    display: inline-block;
    font-size: 2.5rem;
    color: white;
    padding: 1rem 2rem;
    opacity: .9;
    border: solid 1px white;
    letter-spacing: .1rem;
    margin-top: 100px;
}

.profile {
    display: grid;
    grid-template-columns: 350px 1fr;
    padding: 100px 5% 0 5%;
    align-items: center;
}

.profile_img {
    grid-column: 1/2;
    text-align: center;
}

.profile_text {
    grid-column: 2/3;
    margin: 0 10%;
    padding-top: 60px;
    text-align: center;
}

.profile_text > p {
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.3rem;
    opacity: .9;
    margin-bottom: 50px;
}

.profile_text > p::after {
    content: "";
    left: 10%;
    display: block;
    position: absolute;
    width: 90%;
    height: 2px;
    background: linear-gradient(to right, white, transparent);
}

.profile_img_cover {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 0 40px 3px rgb(255, 248, 86);
}

.profile_img_cover::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 5%;
    width: 110%;
    height: 110%;
    border-radius: 50%;
    z-index: -1;
    background-image: radial-gradient(white 1px, transparent 1px);
    background-size: calc(10 * 1px) calc(10 * 1px);
}

.profile_img_cover > img {
    width: 200px;
    border-radius: 50%;
}

.portfolio_icon {
    grid-column: 1/3;
    text-align: center;
    padding: 5%;
}

.portfolio_icon > a {
    margin: 5%;
}

.fab {
    color: white;
    transform: scale(2);
    transition: .3s;
}

.fab:hover {
    transform: scale(2.5);
}

.works_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10% 0;
}

.works_container::after {
    content: "";
    width: 35%;
    margin-bottom: 100px;
    margin-top: 50px;
    padding: 50px 5%;
}

.works_items {
    width: 35%;
    background: rgba(0, 0, 0, .3);
    margin-bottom: 100px;
    margin-top: 50px;
    padding: 50px 5%;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px rgb(255, 248, 86);
}

.works_items > img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 30px;
}

.works_items > h3 {
    color: white;
    font-size: 1.6rem;
    margin-bottom: .5rem;
    border-bottom: solid 1px white;
}

.works_items > p {
    color: white;
    line-height: 1.4rem;
    font-size: .8rem;
}

.works_items > a {
    display: inline-block;
    width: 60%;
    color: white;
    text-decoration: none;
    border: solid;
    text-align: center;
    margin: 20px 17% 20px 17%;
    padding: 3%;
    transition: .3s;
}

.works_items > a:hover {
    background: white;
    color: black;
}

@media screen and (max-width:950px) {

    .about > h2,
    .works > h2 {
        font-size: 1.8rem;
    }

    .profile {
        grid-template-columns: 100%;
    }

    .profile_img {
        grid-column: 1/3;
        margin-bottom: 80px;
        transform: translateX(-3%)
    }

    .profile_text {
        grid-column: 1/3;
    }

    .portfolio_icon > a {
        margin: 10%;
    }

    .works_items {
        width: 100%;
    }

    .works_items > p {
        font-size: .8rem;
    }

    .works_items > a {
        font-size: 1em;
    }

    .works_items > h3 {
        font-size: 1.3rem;

    }
}
